<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <title>Create New Employee</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>
<div class="container">
    <h3 class="mt-3">Create New Employee</h3>
    <br>

    <form id="frm-insert">
        <div class="row">
            <div class="col">
                <label>First Name:</label><input type="text" class="form-control" id="firstName" name="firstName" required></br>
            </div>
            <div class="col">
                <label>Last Name:</label><input type="text" class="form-control" id="lastName" name="lastName" required></br>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>E-Mail Address : </label><input type="text" class="form-control" id="emailId" name="emailId" required ></br>
            </div>
            <div class="form-group">
                <label>Phone No:</label><input type="text" class="form-control" id="phoneNo" name="phoneNo" required></br>
            </div>
            <div class="form-group">
                <label>Salary:</label><input type="text" class="form-control" id="salary" name="salary" required></br>
            </div>
            <div class="form-group">
                <label>Position:</label><input type="text" class="form-control" id="position" name="position" required></br>
            </div>
            <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>

</html>

<script>
    $('#frm-insert').submit(function (event) {
        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var emailId = $('#emailId').val();
        var phoneNo = $('#phoneNo').val();
        var salary = $('#salary').val();
        var position = $('#position').val();

        $.ajax({
            type: "POST",
            url: "http://localhost:8080/employees",
            data: {
                firstName : firstName,
                lastName : lastName,
                emailId : emailId,
                phoneNo : phoneNo,
                salary : salary,
                position : position,
            },
            dataType: "json",
            success: function (data, status, xhr) {
                alert("data successfully inserted");
            },
    
            error: function () {
                alert(status);
            }
        });            
    });

</script>